  <section class="dashboard__workouts">
    <div class="dashboard__workouts__title">
      <div>Workouts</div>
      <div>_______________________</div>
    </div>
    <div class="dashboard__workouts__workouts-list">
      <div *ngFor="let workout of workouts; let i = index"
           class="dashboard__workouts__workouts-list--item"
      (click)="onWorkoutClick(i)">
        <p class="dashboard__workouts__workouts-list--item--name">{{workout.name}}</p>
      </div>
    </div>
    <div class="dashboard__workouts__sort-by">
      <p>Sport by</p>
      <p>activity</p>
    </div>
  </section>
