.dashboard__workouts__workouts-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-column: 2/3;
  height: 200px;
}

.dashboard__workouts__workouts-list--item
{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.dashboard__workouts__title{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  grid-column: 1/4;
  justify-self: center;
}

.icon{
  height: 30px;
}

.dashboard__workouts__workouts-list--item--name{
  text-align: center;
}

.dashboard__workouts{
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  gap: 20px;
  justify-self: center;
}
