<div class="register">
  <div class="register__image-panel">

  </div>
  <div class="register__register-panel">
    <app-navigation></app-navigation>
    <div class="register__register-panel__card">
      <div class="register__register-panel__card--title">Register</div>
        <form *ngIf="!successfullyRegistered" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__register-panel__card__form">
          <div>
            <input type="text"
                   id="username"
                   placeholder="Enter your username"
                   formControlName="username">
          </div>
          <div>
            <input type="email"
                   id="email"
                   placeholder="Enter your email"
                   formControlName="email">
          </div>
          <div [formGroupName]="'passwords'">
            <div>
              <input
                type="password"
                id="password"
                placeholder="Enter your password"
                formControlName="password">
            </div>
            <div style="margin-top: 20px;">
              <input
                type="password"
                id="confirmPassword"
                placeholder="Confirm your password"
                formControlName="confirm">
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
        </form>
        <div *ngIf="successfullyRegistered">
          <p>Dear {{username}}</p>
          <p>
            Congratulations and welcome to Workout-Nest! We are thrilled to have you on board.
          </p>
          <p>
            Thank you for choosing us to be part of your journey.
            Your new account is now active, and you have successfully joined our growing community of home workout rats.
          </p>
          <button class="btn btn-success" (click)="onGotoDashboard()">Go to Dashboard</button>
        </div>
    </div>


  </div>
</div>
