<app-header></app-header>
<h1>Workout Nest</h1>
<div class="container">
  <div class="row">
    <div class="col-6 tile" style="background-color: aliceblue;">
      <div style="background-color: grey; justify-content: flex-end;">Just Start!</div>
    </div>
    <div class="col-6 tile" style="background-color: aliceblue;">
     Feed
    </div>
  </div>
  <div class="row">
    <div class="col-6 tile" style="background-color: aliceblue;">
      Exercises
    </div>
    <div class="col-6 tile" style="background-color: aliceblue;">
      Workouts
    </div>
  </div>

</div>

<app-footer></app-footer>
