.dashboard{
  display: grid;
  grid-template-columns: 40vw 55vw;
  grid-column-gap: 20px;
  grid-template-rows: 50px auto;

}

app-workouts{
  grid-column: 2/3;
  grid-row: 2/3;
}

app-feed{
  grid-row: 2/3;
  grid-column: 1/2;

}

app-navigation{
  grid-column: 1/3;
}
