.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 100px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 60px;
}

.exercise-completed{
  order: 3;
  background-color: lightgrey;
  width: 450px;
  height: 80px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr 1fr;
  row-gap: 6px;
}

.container--title{
  grid-column: 1/3;
  text-align: center;
  font-size: 42px;
}

.exercises{
  grid-column: 1/2;
  grid-row: 3/4;
  border-radius: 10px;
  border: 1px solid black;
  width: 600px;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.exercises--title{
  margin: 0px;
  justify-self: center;
  font-size: 2rem;

}
.exercises__information--save{
  width: 180px;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  justify-self: center;
}

.exercises-list__item--name{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 1rem;
  line-height: 15px;
  margin-bottom: 0px;
}

app-navigation{
  grid-column: 1/3;
  grid-row: 1/2;
}
.exercises-list__item--finished{
  color: green;
  margin-left: 10px;

}

.exercises-list__item__sets{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #c7c7c7;
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  justify-self: end;
  align-self: end;
  margin-right: 10px;
}
.exercises-list__item__sets--title{
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  justify-self: end;
}

.exercises-list__item__sets--icon{
  justify-self: end;
  margin-right: 10px;
}

.icon{
  height: 1.8rem;
}

.exercises-list__item__reps{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #c7c7c7;
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  justify-self: end;
  margin-right: 10px;
}

.exercises-list__item__reps--title{
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  justify-self: end;
}
.exercises-list__item__reps--icon{
  justify-self: end;
  margin-right: 10px;
}

.current-exercise__menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px;
  grid-column-gap: 10px;
}

.current-exercise__menu__exercise-name{
  font-size: 14px;
  grid-column: 1/3;
  text-align: center;
  align-self: center;
  font-weight: bold;
}
.current-exercise{
  grid-column: 2/3;
  grid-row: 3/4;
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
  align-self: start;
}

.current-exercise__menu__sets{
  justify-self: end;
  font-size: 12px;
  align-self: center;
}

.current-exercise__menu__add-set{
  align-self: center;
  color: green;
  cursor: pointer;
}
.exercises-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  list-style-type: none;
  justify-self: center;
  grid-row-gap: 10px;
  padding: 0px;
}
.exercises__information--counter{
  margin: 0px;
  justify-self: end;
  margin-right: 20px;
  font-size: 1rem;
}
.exercises__information--add{
  cursor: pointer;
  color: green;
  width: 30px;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}
.exercises__information{
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.exercises-list__item{
  width: 450px;
  height: 80px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr 1fr;
  row-gap: 6px;
}

.current-exercise{
 display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 200px 60px;
}

.current-exercise__sets{
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px;
}

.current-exercise__sets__item{
  width: 280px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: 1fr 1fr;
  justify-self: center;

}

.current-exercise__sets__item--weight{
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  margin-left: 5px;
}

.current-exercise__sets__item--reps{
  grid-column: 1/2;
  grid-row: 2/3;
}

.current-exercise__sets__item--finish{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: green;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  height: 20px;
  text-align: center;
  font-size: 1rem;
  margin-top: 5px;
  margin-right: 5px;
}
.current-exercise__sets__item--weight--label{
  align-self: center;
}

.current-exercise__sets__item--finished{
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 280px;
  height: 52px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr 1fr;

}

.current-exercise__sets__item--finished--weight{
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 12px;
  margin: 0px;
}
.current-exercise__sets__item--finished--reps{
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  height: 24px;
  margin: 0px;
}
.current-exercise__sets__item--finished-set-number{
  grid-column: 2/3;
  margin: 0px;
  grid-row: 1/2;
  font-size: 12px;

}
.current-exercise__sets__item--edit{
  cursor: pointer;
  font-size: 12px;
  grid-column: 2/3;
  grid-row: 2/3;

}

.label{
  font-size: 10px;
}
.current-exercise__complete{
  border: 0px;
  width: 200px;
  height: 24px;
  font-size: 12px;
  justify-self: center;
}
