<div class="grid-container">
  <div class="menu-background-img">
    <div class="menu menu-flex">
      <div class="logo">logo</div>
      <div class="buttons">
        <button class="btn">Login</button>
        <button class="btn">Register</button>
      </div>

      <div class="language-panel">
        <img src="assets/language.png" class="icon">
        <div>EN</div>
        <img src="assets/arrow-down.png" class="icon-small">

      </div>
    </div>

  </div>
  <section>

  </section>
  <div class="footer"></div>
</div>
