<div class="grid-container">
  <div class="menu-background-img">
    <div class="menu menu-flex">
      <div class="logo">logo</div>
      <div class="buttons">
        <button class="btn" style="margin-right: 10px" (click)="onLoginClick()">Login</button>
        <button class="btn" (click)="onRegisterClick()">Register</button>
      </div>

      <div class="language-panel">
        <img src="assets/language.png" class="icon language-icon">
        <div class="language"><span>EN</span></div>
        <img src="assets/arrow_down.png" class="language-panel__arrow-icon">

      </div>
    </div>

  </div>

  <section class="why-this-app">
    <div class="why-this-app-img-section">
      <div class="why-this-app-img-section-img"></div>
    </div>
    <div class="why_this_app__info-panel">
      <h1>Work work work!</h1>
      <p class="why_this_app__info_panel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam cursus luctus.
        Quisque pretium gravida ante vitae facilisis.
        Pellentesque elementum diam nibh, vitae suscipit nunc tempor eu. Nam accumsan sapien at lacinia fringilla. Nam ac sodales quam. Duis rhoncus sapien et libero consequat dapibus at eu ligula.</p>
    </div>
  </section>

  <section class="devices">
    <h1 class="devices-title">Works everywhere you go</h1>
    <div class="devices-items">
      <div class="devices-item">
        <p>mobile</p>
      </div>
      <div class="devices-item">
        <p>tablet</p>
      </div>
      <div class="devices-item">
        <p>desktop</p>
      </div>
    </div>
  </section>
  <div class="footer"></div>
</div>
