.grid-container {
  display: grid;
  grid-template-rows: 300px auto auto 200px;
  grid-template-columns: repeat(12,1fr);
}


.menu {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 75px auto 200px;

}

.menu-background-img{
  background-color: #727272;
  grid-column: 1/13;
  grid-row: 1/ 1;

}

.logo{
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: center;
}

.footer{
  grid-column: 1/13;
  grid-row: 4/5; /* Updated line */
  background-color: #2d2d2d;
}



.buttons{
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}

.btn{
  width: 100px;
  height: 35px;
  cursor: pointer;
}

.icon{
  height: 30px;
  display: block;

}
.icon-small{
  height: 15px;
  display: block;

}

.language-panel{
  width: 200px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;

}

.language{
  background-color: black;
  color: white;
  height: 20px;
  width: 35px;
  align-self: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 10px;

}

span{
  align-self: center;
  font-size: 12px;
  font-weight: bold;
}

.language-icon{
  align-self: center;

}

.language-panel__arrow-icon{
  align-self: center;
  display: block;
  height: 20px;
  cursor: pointer;
}


.devices{
  grid-column: 1/13;
  grid-row: 3/4; /* Updated line */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px;
  justify-items: center;
  background: white;
}

.devices-title{
  align-self: center;
}

.devices-items{
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3,33%);
  gap: 20px;

}

.devices-item{
  height: 100px;
  width: 100px;
  background-color: wheat;
  display: grid;
  justify-content: center;
}


.why-this-app{
  display: grid;
  grid-column: 1/13;
  grid-row: 2/3; /* Updated line */

  grid-template-columns: 50% 50%;
  background-color: white;

}

.why-this-app-img-section{
  height: 400px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: end;
  margin-right: 50px;
}

.why-this-app-img-section-img{
  height: 300px;
  width: 300px;
  align-self: center;
  background-color: #2d2d2d;
}

.why_this_app__info-panel{
  margin-top: 50px;
}

.why_this_app__info_panel-text{
  width: 400px;
}
