.grid-container {
  display: grid;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: repeat(12,1fr);
}


.menu {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 75px auto 200px;

}

.menu-background-img{
  background-color: #000000;
  grid-column: 1/13;
  grid-row: 1/ 1;

}

.logo{
  height: 50px;
  width: 50px;
  background-color: aqua;
  flex: 5;
}

.footer{
  grid-column: 1/13;
  grid-row: 3/4; /* Updated line */
  background-color: dimgrey;
}

section {
  grid-column: 1/13;
  grid-row: 2 / span 1; /* Updated line */
  /* Additional styles if needed */

}

.buttons{
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}

.btn{
  width: 100px;
  height: 35px;
}

.icon{
  height: 30px;
  display: block;

}
.icon-small{
  height: 15px;
  display: block;

}

.language-panel{
  width: 200px;
  display: flex;
  gap: 5px;
  justify-content: flex-start;

}

.language{
  background-color: black;
  color: white;
  height: 20px;
  width: 35px;
  align-self: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

span{
  align-self: center;
  font-size: 12px;
}

.language-icon{
  align-self: center;

}

.language-panel__arrow-icon{
  align-self: center;
}
