<div class="container">
  <app-navigation></app-navigation>
  <div class="info">
    <h3 class="info--title">Information</h3>
    <div class="info__name">
      <div class="info__input-container">
        <div class="info__input-container--label" >Name</div>
        <input type="text" id="workout-name" #workout_name>
      </div>
      <div class="info__input-container">
        <div class="info__input-container--label">Description</div>
        <input type="text">
      </div>
    </div>
    <div class="info__target-muscle-container" >
      <div class="info__target-muscle-container--title">Target muscles</div>
      <div class="info__target-muscle-container__muscles">
        <div *ngFor="let muscle of targetedMuscles" class="info__target-muscle-container__muscles_name"><span>{{muscle}}</span></div>

      </div>
    </div>
    <div class="info__exercises-container" >
      <div class="info__exercises-container--title">Exercises</div>
      <div class="info__exercises-container--wrapper">
        <div *ngFor="let selectedExercise of selectedExercises" class="info__exercises-container__box">
          <span class="info__exercises-container__box--remove_exercise">-</span>
          {{selectedExercise.name}}</div>

      </div>
    </div>
    <div class="info__cockpit">
      <span class="info__cockpit--line"></span>
      <button class="info__cockpit__button">Reset</button>
      <button class="info__save info__cockpit__button" (click)="onSaveWorkout()">Save</button>

    </div>
  </div>


  <div class="exercises">
    <h3 class="exercises--title">Exercises</h3>
    <input type="text" class="exercises--input-search">
    <div class="exercises--card">
      <div *ngFor="let x of exercices" class="exercises-item" (click)="onAddExercise(x)">
        <div class="exercises-item__name">{{x.name}}</div>
        <div class="exercises-item__equipment">
          <p class="exercises-item__equipment--text">{{x.equipment}}</p>
          <img src="assets/dumbbell-icon.png" alt="dumbbell-icon" class="icon exercises-item__equipment--icon">
        </div>
        <div class="exercises-item__muscle">
          <p class="exercises-item__muscle--text"> {{x.primaryMuscleGroup}}</p>
          <img src="assets/biceps-icon.png" alt="biceps-icon" class="icon exercises-item__muscle--icon">
        </div>
      </div>
    </div>
  </div>
</div>
