<section class="why-this-app">
  <div class="why-this-app-img-section">
    <div class="why-this-app-img-section-img"></div>
  </div>
  <div class="why_this_app__info-panel">
    <h1>Work work work!</h1>
    <p class="why_this_app__info_panel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam cursus luctus.
      Quisque pretium gravida ante vitae facilisis.
      Pellentesque elementum diam nibh, vitae suscipit nunc tempor eu. Nam accumsan sapien at lacinia fringilla. Nam ac sodales quam. Duis rhoncus sapien et libero consequat dapibus at eu ligula.</p>
  </div>
</section>
