<div class="menu-background-img">
  <div class="menu menu-flex">
    <div class="logo">logo</div>
    <div class="buttons">
      <button class="btn" style="margin-right: 10px" (click)="onLogin()">Login</button>
      <button class="btn" (click)="onRegister()" >Register</button>
    </div>

    <div class="language-panel">
      <img src="assets/language.png" class="icon language-icon">
      <div class="language"><span>EN</span></div>
      <img src="assets/arrow_down.png" class="language-panel__arrow-icon">

    </div>
  </div>

</div>
