.menu {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 75px auto 200px;

}

.menu-background-img{
  background-color: #727272;
  grid-column: 1/13;
  grid-row: 1/ 1;

}

.logo{
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: center;
}

.buttons{
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}

.btn{
  width: 100px;
  height: 35px;
  cursor: pointer;
}

app-language{
  align-self: center;
}
