<div class="login">
  <section class="login__side-panel"></section>
  <section class="login__login-panel">
  <app-navigation></app-navigation>
    <div class="login__login-panel__card">
      <h2 class="login__login-panel__card--title">Log in</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login__login-panel__card__form">
        <div>
          <input
            class="login__login-panel__card__form__input--username"
            formControlName="username"
            id="username"
            placeholder="username"
            type="text">
        </div>
        <div>
          <input
            class="login__login-panel__card__form__input--password"
            formControlName="password"
            id="password"
            placeholder="password"
            type="password">
        </div>
        <div style="margin-top: 20px;">
          <button
            [disabled]="!loginForm.valid"
            class="login__login-panel__card__form__button"
            type="submit">Login
          </button>
          <p class="login__login-panel__card__form--forgot-password">Forgot password ?</p>
        </div>
      </form>
    </div>

  </section>
</div>

