.login{
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 100vh;
}

.login__login-panel{
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px;
}

.login__side-panel{
  background-color: lightgray;
}

.login__login-panel__nav{
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: 100px;
}

.login__login-panel__nav--signup{
  width: 100px;
  height: 28px;
  justify-self: flex-end;
}

.login__login-panel__card{
  margin-top: 100px;
  justify-self: center;
  display: grid;
  grid-template-rows: 120px;
  grid-template-columns: 500px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.login__login-panel__card__form{
  align-self: center;
  justify-self: center;
}

input{
  width: 320px;
  height: 30px;
}

.login__login-panel__card__form__input--password{
  margin-top: 10px;
}

.login__login-panel__card__form__button{
  width: 330px;
  height: 30px;
}

.login__login-panel__card--title{
  text-align: center;
  align-self: center;
  font-size: 3rem;
}

.login__login-panel__card__form--forgot-password{
  text-align: end;
  font-size: 14px;
  cursor: pointer;
}
