
.devices{
  grid-column: 1/13;
  grid-row: 3/4; /* Updated line */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px;
  justify-items: center;
  background: white;
}

.devices-title{
  align-self: center;
}

.devices-items{
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3,33%);
  gap: 20px;

}

.devices-item{
  height: 100px;
  width: 100px;
  background-color: wheat;
  display: grid;
  justify-content: center;
}
